:root {
  --primary-color: #fed001;
  --secundary-color: #fafafa;
}

html {
  /* font-size: 62.5%;
  font-family: 'inter', sans-serif;
  font-weight: 400; */
  font: 400 62.5% 'inter', sans-serif;
  transition: .3s;
}

p,
a {
  font-size: 1.6rem;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

nav a {
  color: inherit;
}

.upper {
  text-transform: uppercase;
}

.btn {
  background-color: var(--primary-color);
  border-radius: .4rem;
  font-size: 1.8rem;
  text-decoration: none;
  padding: 1.6rem 4.6rem;
  display: inline-block;
  transition: background-color .5s, transform .5s;
}

.btn:hover {
  background-color: #ffea09;
}

.wrapperContainer-dark {
  background-color: rgba(0, 0, 0, .8);
  color: var(--secundary-color);
}

.wrapperContainer-fixed {
  position: sticky;
  width: 100vw;
  top: 0;
  left: 0;
}

.wrapperContainer-hero {
  background-image: linear-gradient(transparent, #ffff31);
}

.wrapperContainer-light {
  background-color: var(--secundary-color);
}

.wrapperContainer-dark2 {
  background-color: #003464;
  color: var(--secundary-color);
}

.wrapperContainer-padded {
  padding: 11.9rem;
}

.container {
  max-width: 127.6rem;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  padding: 2rem 0;
}

.header_nav a {
  text-decoration: none;
  padding: .75em 1.15em;
  border: solid 1px;
  transition: background-color 1.3s;
}

.header_nav a:hover {
  background-color: #000;
}

.header_nav ul {
  display: flex;
  gap: .62rem;
  list-style-type: none;
}

.heroBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20rem;
}

.hero_title {
  margin-bottom: 5rem;
}

.cursos {
  text-align: center;
}

.section_title {
  margin: 0;
  padding: 7rem;
  text-align: center;
}

.cursosContainer {
  display: flex;
  text-align: left;
  gap: 2rem;
}

.curso_card {
  flex: 1;
  border-radius: 10px;
  border-radius: 10px;
}

.curso_card-img {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.curso_card img {
  display: block;
  width: 100%;
  opacity: 50%;
  transition: opacity 0.5s, transform 0.5s;
}

.curso_card img:hover {
  opacity: 100%;
  transform: scale(110%);
}

.cursos_card_content {
  border: 1px solid #ccc;
  border-top: transparent;
  padding: 1rem;
}

.cursos_card_content p {
  font-size: 1.8rem;
  line-height: 1.5;
}

.cursos_btn {
  margin: 7rem;
  color: inherit;
}

.escola {
  display: flex;
  gap: 7rem;
  padding-top: 6rem;
}

.escola_title {
  font-size: 3.2rem;
  margin: 2rem 0 4rem;
}

.escola_content p {
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.5;
}

.contatos_address {
  font: 400 1.8rem 'inter', sans-serif;
  text-align: right;
  margin: 3rem 0;
}

.footer {
  padding: 5rem 0;
  font-size: 1.6rem;
}

.footer_form {
  display: flex;
  justify-content: center;
}

.form_fieldset {
  width: 30%;
  padding: 2em 3em;
  border-color: var(--secundary-color);
}

.fieldset_legend {
  font-size: 2em;
  padding: 0 .5em;
}

.form_fieldset label {
  padding: 1em 0;
}

.form_fieldset input,
.form_fieldset textarea {
  display: block;
  box-sizing: border-box;
  resize: none;
  padding: .2em;
  margin: .2em 0 1em;
}

.form_fieldset input:not(input[type="radio"]),
.form_fieldset textarea {
  width: 100%;
}

.form_fieldset textarea {
  width: 100%;
  height: 5em;
}

.form_fieldset input[type="radio"] {
  display: inline-block;
}

.fieldset_buttons {
  display: flex;
  margin: auto;
  gap: 2em;
  width: max-content;
}

.fieldset_buttons input {
  padding: .5em 1em;
  font-size: 1.2em;
  font-weight: 600
}


.button_subir::before {
  content: "";
  width: 1.7em;
  height: 1.7em;
  background-image: linear-gradient(135deg, var(--primary-color)40%, transparent 60%);
  transform: scale(140%) rotateZ(45deg);
  z-index: 1;
  position: fixed;
  bottom: 3em;
  right: 6em;
}